.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;

	z-index: 100;
}

/* Header Top */
.header-top {
	background-color: rgba(240, 241, 240, 1);
}

/* Top Section Wrapper */
.header-top__container {
	padding: 0.5rem 1.25rem;
}

.header-top__container * {
	font-size: 0.75rem;

	color: var(--color-gray-2);
}

/* Top Section Content */
.header-top__content {
	display: flex;
	align-items: center;
	gap: 0.25rem;

	width: max-content;
}

/* Top Section Toggle Btn | How to identify  */
.header-top__content .toggler span {
	font-weight: 500;
	text-decoration: underline;

	color: var(--color-blue);
}

/* Dropdown */
.header-top__toggle {
	padding: 0 1.25rem 1rem;
}

.header-top__toggle * {
	font-size: 0.75rem;
}

/* Dropdown Menu */
.header-top__menu {
	display: flex;
	justify-content: space-between;
}

/* Dropdown Item */
.header-top__item {
	display: flex;
}

.header-top__item .left {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;
	margin-right: 0.625rem;
}

.header-top__item .right .title {
	color: #1f1f1f;
	font-weight: 600;
	margin-bottom: 5px;
}

.header-top__item .right a {
	color: var(--color-blue);
}
/* ------------------------------ */

/* Header Middle */
.header-middle {
	background-color: var(--color-white);
}

.header-middle__container {
	position: relative;
}

.header__logo {
	display: flex;
	align-items: center;
	justify-content: center;

	max-width: 120px;

	overflow: hidden;
}

.header__logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header-middle__menu {
	position: relative;

	border-left: 1px solid #6d6d6d;
	border-right: 1px solid #6d6d6d;

	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;

	color: #6d6d6d;

	transition: color 0.25s ease;
	cursor: pointer;
}

.header-middle__menu:hover {
	color: var(--color-secondary);
}

.header__btns {
	display: flex;
	align-items: center;
}

.header__btns .search {
	width: 35px;
	aspect-ratio: 1/1;
	padding: 0;

	font-size: 0.75rem;
}

.header__btns .dropdown .dropdown-menu {
	width: 450px;
	padding: 0.25rem 0.5rem;
	transform: translate(0, 40px);

	overflow: hidden;
}

.header__search {
	display: flex;
	align-items: center;
}

.header__search .input {
	flex: 1;

	padding: 0 0.25rem;

	border-radius: 0.25rem;
	border-color: #d7d7d7;

	font-size: 0.875rem;

	color: var(--color-gray-1);
}

.header__search .search-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.25rem;

	color: var(--color-gray-1);
	background: transparent;
}

/* ------------------------------ */

/* Header Bottom */
.header-bottom {
	background-color: var(--color-gray-1);
}

.header-bottom__menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;

	margin: 0;
}

.header-bottom__item {
	position: relative;

	display: block;

	height: auto;
}

.header-bottom__link {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	padding: 1rem 1.5rem;

	border-bottom: 3px solid transparent;

	font-size: 0.875rem;
	font-weight: 600;
	text-transform: uppercase;

	color: var(--color-white);
	background-color: transparent;

	transition: background-color 0.35s ease;
}

.header-bottom__link:hover {
	border-color: var(--color-white);
	background-color: var(--color-primary);
}

.header-bottom__item:hover .submenu {
	display: block;
}

.submenu {
	position: absolute;
	top: 100%;
	right: 0;

	display: none;

	min-width: 250px;
	padding: 0;

	font-size: 1rem;
	font-weight: 500;
	text-align: left;

	background-color: var(--color-gray-1);
}

.submenu__item {
	position: relative;
}

.submenu__link {
	display: block;

	padding: 0.625rem;

	color: var(--color-white);
	background-color: transparent;

	transition: background-color 0.15s ease;
}

.submenu__link:hover {
	background-color: var(--color-primary);
}

/* ------------------------------ */
